<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiyi.videocloud.openplatform.dao.mapper.OauthRefreshTokenMapper">
	<resultMap id="BaseResultMap" type="com.happinesstree.oauth2.dao.domain.RefreshToken">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="refresh_token" property="refreshToken" jdbcType="VARCHAR" />
		<result column="token" property="token" jdbcType="LONGVARBINARY" />
		<result column="expiration" property="expiration" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="BIGINT" />
		<result column="state" property="state" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, refresh_token, token, expiration, create_time, update_time, state
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from oauth_refresh_token
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<insert id="insert" parameterType="com.happinesstree.oauth2.dao.domain.RefreshToken">
		insert into oauth_refresh_token (id, refresh_token, expiration,
		create_time, update_time, state, token)
		values (#{id,jdbcType=INTEGER}, 
		#{refreshToken,jdbcType=VARCHAR},
		#{expiration,jdbcType=BIGINT},
		#{createTime,jdbcType=BIGINT}, 
		#{updateTime,jdbcType=BIGINT}, 
		#{state,jdbcType=INTEGER},
		#{token,jdbcType=LONGVARBINARY})
	</insert>
	
	<select id="selectByTokenValue" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from oauth_refresh_token
		where refresh_token = #{tokenValue,jdbcType=VARCHAR}
		AND state = 1 
		ORDER BY id DESC 
		LIMIT 1
	</select>
	
	<update id="deleteByTokenValue">
		update oauth_refresh_token
		set state = 0
		where refresh_token = #{tokenValue,jdbcType=INTEGER} 
		LIMIT 1
	</update>
	
</mapper>